
<p>Nome do Vinho
    <input type="text" name="vinhoInfo" [(ngModel)] = "vinho.nome">
<p>

<p>
    Nome do Produtor
    <input type="text" name="vinhoInfo" class="form-control" [(ngModel)] = "vinho.nomeProdutor" id="exampleInputEmail1">
</p>

<p>
    Safra
    <input type="text" name="vinhoInfo" class="form-control" [(ngModel)] = "vinho.safra" id="exampleInputEmail1">
</p>

<p>
    Nacionalidade
    <input type="text" name="vinhoInfo" class="form-control" [(ngModel)] = "vinho.nacionalidade" id="exampleInputEmail1">
</p>

<p>
    Tipo
    <input type="text" name="vinhoInfo" class="form-control" [(ngModel)] = "vinho.tipo" id="exampleInputEmail1">
</p>

<p>
    Valor Pago
    <input type="text" name="vinhoInfo" class="form-control" [(ngModel)] = "vinho.valorPago" id="exampleInputEmail1">
</p>

<p>
    <input type="button" (click)="cadastrar(vinho)" class="btn btn-primary float-md-right"  value="Cadastrar">
</p>
                    